<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div>
                    WATTZ ELECTRICITY DISTRIBUTON <br>
                    CORPORATION
                </div>
                <div>
                    84 Somewhere street, 28451 XY, Antarctica
                </div>
                <div>
                    Tel: 045 312 690 32 <br>
                    Fax: 045 312 690 42
                </div>
                <div>
                    E-mail: test@wattz.com
                </div>
            </div>
            <div class="col-xs-12 col-md-6"  id="socialMedia">
                <div id="socialMediaIcons">
                    <a href="https://twitter.com/iamdevloper" target="_blank" class="fa fa-twitter" aria-hidden="true"></a>
                    <a href="https://www.facebook.com/DurgaSoftOnline/photos/rpp.1566712876959872/1706934119604413/?type=3&theater" target="_blank"  class="fa fa-facebook" aria-hidden="true"></a>
                    <a href="https://www.instagram.com/p/5c1WXeESvD/?hl=en" target="_blank"  class="fa fa-instagram" aria-hidden="true"></a>
                    <a href="https://www.youtube.com/watch?v=ame2PH67gnk" target="_blank"  class="fa fa-youtube" aria-hidden="true"></a>
                </div>
                <div>
                    Follow our social media
                </div>
                <div>
                    <form action="/newsletter" method="POST">
                    <input type="email" name="email" placeholder="johnDoe@gmail.com">
                    <button>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                    </form>
                </div>
                <div>
                    Subscribe to our email newsletter
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #footer{
        background-color: #232524;
        color: white;
        padding-top: 6vw;
        padding-bottom: 6vw
    }
    #footer div.col-xs-12.col-md-6 div{
        font-size: 4vw;
        padding-bottom: 3vw;
    }
    #socialMedia{
        padding-top: 15vw;
    }
    #socialMediaIcons a{
        font-size: 8vw;
        padding-right: 3vw;
        color: white;
        text-decoration: none;
    }
    #socialMedia form i{
        background-color: rgb(17, 76, 228);
        padding: 2vw 3vw;
        text-align: center;
        border-radius: 4px
    }
    #socialMedia form input{
        border-radius: 4px;
        color: black;
        border: 0;
        padding: 1vw
    }
    #socialMedia form input::-webkit-input-placeholder{  /* (Safari, Google Chrome, Opera 15+) and Microsoft Edge */
    color: gray;
}
#socialMedia form input:-moz-placeholder{          /* Mozilla Firefox 4 to 18 */
    color: gray;
}
#socialMedia form input::-moz-placeholder{          /* Mozilla Firefox 19+ */
    color: gray;
}
#socialMedia form input:-ms-input-placeholder{      /* Internet Explorer 10 and 11 */
    color: gray;
}   
#socialMedia form input::placeholder{               /* April 2017: Most modern browsers support */
    color: gray;
}

</style>