<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div>
                    WATTZ ELECTRICITY DISTRIBUTON
                    <br> CORPORATION
                </div>
                <div>
                    84 Somewhere street, 28451 XY, Antarctica
                </div>
                <div>
                    Tel: 045 312 690 32
                    <br> Fax: 045 312 690 42
                </div>
                <div>
                    E-mail: test@wattz.com
                </div>
            </div>
            <div class="col-xs-12 col-md-6" id="socialMedia">
                <div id="socialMediaIcons">
                    <a href="https://twitter.com/iamdevloper" target="_blank" class="fa fa-twitter" aria-hidden="true"></a>
                    <a href="https://www.facebook.com/DurgaSoftOnline/photos/rpp.1566712876959872/1706934119604413/?type=3&theater" target="_blank"
                        class="fa fa-facebook" aria-hidden="true"></a>
                    <a href="https://www.instagram.com/p/5c1WXeESvD/?hl=en" target="_blank" class="fa fa-instagram" aria-hidden="true"></a>
                    <a href="https://www.youtube.com/watch?v=ame2PH67gnk" target="_blank" class="fa fa-youtube" aria-hidden="true"></a>
                </div>
                <div>
                    Follow our social media
                </div>
                <div>
                    <form action="/newsletter" method="POST" id="newsletterForm">
                        <input type="email" name="email" placeholder="johnDoe@gmail.com" id="newsletterEmail">
                        <button>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
                <div>
                    Subscribe to our email newsletter
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/navbar.js"></script>
<script src="/js/footer.js"></script>