#footer {
    background-color: #232524;
    color: white;
    padding-top: 6vw;
    padding-bottom: 6vw
}

#footer div.col-xs-12.col-md-6 div {
    font-size: 4vw;
    padding-bottom: 3vw;
}

#socialMedia {
    padding-top: 15vw;
}

#socialMediaIcons a {
    font-size: 8vw;
    padding-right: 3vw;
    color: white;
    text-decoration: none;
}

#socialMedia button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#socialMedia form i {
    background-color: rgb(17, 76, 228);
    padding: 2vw 3vw;
    text-align: center;
    border-radius: 4px
}

#socialMedia form input {
    border-radius: 4px;
    color: black;
    border: 0;
    padding: 1vw
}

#socialMedia form input::-webkit-input-placeholder {
    /* (Safari, Google Chrome, Opera 15+) and Microsoft Edge */
    color: gray;
}

#socialMedia form input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: gray;
}

#socialMedia form input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: gray;
}

#socialMedia form input:-ms-input-placeholder {
    /* Internet Explorer 10 and 11 */
    color: gray;
}

#socialMedia form input::placeholder {
    /* April 2017: Most modern browsers support */
    color: gray;
}

@media (min-width: 768px) {
    #footer .container {
        width: 90vw
    }
    #footer div.col-xs-12.col-md-6 div {
        font-size: 2.5vw;
        padding-bottom: 3vw;
    }

    #socialMedia {
        padding-top: 8vw;
    }

    #socialMediaIcons a {
        font-size: 6vw;
        padding-right: 3vw;
        color: white;
        text-decoration: none;
    }

    #socialMedia button {
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }

    #socialMedia form i {
        background-color: rgb(17, 76, 228);
        padding: 1.5vw 2.5vw;
        text-align: center;
        border-radius: 4px
    }

    #socialMedia form input {
        border-radius: 4px;
        color: black;
        border: 0;
        padding: 1vw
    }
}