.indexBulbs {
  background-image: url("/images/IndexBulbs.jpg");
  height: 150vw;
  background-size: cover;
  color: white;
  padding-top: 50vw;
}
.indexBulbs h2 {
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
}
.indexBulbs h3 {
  margin: 3vw auto;
  text-align: center;
}
#aboutWattz {
  color: rgb(97, 97, 97);
  background-color: white;
}
#aboutWattz div {
  margin-top: 10vw;
  margin-bottom: 10vw;
}
#aboutWattz button {
  background-color: rgb(17, 55, 100);
  color: white;
  margin-bottom: 5vw;
}
#ourInvestments {
  background-color: rgba(206, 204, 204, 0.192);
  color: rgb(97, 97, 97);
}
#ourInvestmentsRow {
  margin-top: 10vw;
}
#ourInvestmentsPart div {
  margin-top: 10vw;
  margin-bottom: 0;
}
#investmentLastElem {
  text-align: center;
  color: rgba(206, 204, 204, 0.466);
  margin-top: 0vw;
  padding-bottom: 3vw;
}
#investmentLastElem i {
  margin-left: 3vw;
}
#ourInvestments button {
  background-color: rgb(17, 55, 100);
  color: white;
  margin-top: 10vw;
  margin-bottom: 0vw;
}
#handShakeImg {
  padding: initial;
  margin-bottom: 7vw;
}
#ourInvestmentsPart {
  background-color: white;
}
#emailPart {
  background-color: rgb(17, 55, 100);
  padding-top: 5vw;
}
#emailPart .container {
  width: 91vw;
}
input.col-xs-12.col-md-4 {
  background: none;
  margin-bottom: 4vw;
  border: 1px solid white;
  padding: 2.5vw;
  padding-left: 7vw;
  color: white;
}
::-webkit-input-placeholder {
  /* (Safari, Google Chrome, Opera 15+) and Microsoft Edge */
  color: white;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {
  /* Internet Explorer 10 and 11 */
  color: white;
}
::placeholder {
  /* April 2017: Most modern browsers support */
  color: white;
}
textarea.col-xs-12.col-md-12 {
  background: none;
  border: 1px solid white;
  padding: 2.5vw;
  padding-left: 6vw;

  color: white;
}
span.glyphicon.glyphicon-bell {
  color: white;
  font-size: 7vw;
  margin-left: 8vw;
}
.emailReason {
  color: white;
  text-align: center;
  font-size: 3vw;
  margin-bottom: 4vw;
}
#sendBtn {
  color: rgb(17, 55, 100);
  background-color: white;
  border: 1px solid white;
  margin: 5vw 39vw;
  font-size: 6vw;
  text-align: center;
  border-radius: 1.3vw;
}
#newsAndInterruptions {
  background-color: rgba(206, 204, 204, 0.473);
}
#newsAndInterruptions div.row {
  background-color: rgba(206, 204, 204, 0.192);
}
#newsPart {
  background-color: white;
}
#newsPart span.text {
  font-size: 3vw;
  padding-left: 4vw;
}
#newsPart button.btn.btn-default {
  background-color: rgb(17, 55, 100);
  color: white;
  font-size: 3vw;
}
#newsPart div {
  border-top: 1px solid rgba(0, 0, 0, 0.185);
  padding-top: 3vw;
  padding-bottom: 3vw;
}
#newsLastElem {
  text-align: center;
  font-weight: bold;
}
#interruptionPart {
  background-color: white;
  margin-top: 10vw;
}
#interruptionPart span.text {
  font-size: 3vw;
  padding-left: 4vw;
}
#interruptionPart button.btn.btn-default {
  background-color: rgb(17, 55, 100);
  color: white;
  font-size: 3vw;
}
#interruptionPart div {
  border-top: 1px solid rgba(0, 0, 0, 0.185);
  padding-top: 3vw;
  padding-bottom: 3vw;
}
#interruptionLastElem {
  text-align: center;
  color: rgba(206, 204, 204, 0.466);
}
#interruptionLastElem i {
  margin-left: 3vw;
}
.activeCircle {
  color: rgb(17, 55, 100);
}
#feelEnergyPart {
  color: white;
  background-color: #c23833;
  text-align: center;
  padding: 6vw;
  font-family: "Pacifico", cursive;
}
#feelEnergyPart h3 {
  margin-top: 0;
}
iframe {
  width: 100vw;
  height: 100vw;
  border: none;
}
@media (min-width: 630px) {
  span.glyphicon.glyphicon-bell {
    margin-left: 9.1vw;
  }
}
@media (min-width: 768px) {
  .indexBulbs {
    height: 100vw;
    padding-top: 45vw;
  }
  input.col-xs-12.col-md-4 {
    background: none;
    margin-bottom: 4vw;
    padding: 2vw;
    padding-left: 4vw;
    font-size: 2.5vw;
  }
  textarea.col-xs-12.col-md-12 {
    padding: 2vw;
    padding-left: 3vw;
    font-size: 2.5vw;
  }
  #sendBtn {
    font-size: 3.5vw;
  }
  #newsPart span.text {
    font-size: 2.5vw;
    padding-left: 3vw;
  }
  #newsPart button.btn.btn-default {
    font-size: 2vw;
  }
  #interruptionPart span.text {
    font-size: 2.5vw;
    padding-left: 3vw;
  }
  #interruptionPart button.btn.btn-default {
    font-size: 2vw;
  }
  
  #ourInvestmentsRow {
    margin-top: 7vw;
  }
  #newsAndInterruptions .container {
    width: 100vw;
  } 
}
@media (min-width: 992px){
  #ourInvestmentsPart{
    height: 326px;
  }
  #handShakeImg{
    height: 326px;
  }
  #ourInvestmentsPart div{
    margin-top: 15px;
  }
  #ourInvestmentsPart button{
    margin-top: 3vw;
  }
  #investmentLastElem i {
    margin-left: 15px
  }
  #aboutWattz div{
    margin-top: 40px;
    margin-bottom: 25px;
  }
  #aboutPart .container{
    width: 750px;
  }
  #aboutPart button{
    margin-bottom: 0
  }
  #emailPart form input {
    width: 31.3%;
    margin-left: 3%
  }
  #emailPart form :first-child {
    margin-left: 0
  }
}
@media (min-width: 1180px) {
  .indexBulbs h2 {
    font-size: 4vw;
  }
  .indexBulbs h3 {
    font-size: 2.5vw;
  }
}
@media (min-width: 1200px){
  #ourInvestmentsPart{
    height: 393px;
  }
  #ourInvestmentsRow{
    margin-top: 45px;
  }
  #handShakeImg{
    margin-bottom: 45px;
    height: 393px;
  }
  #ourInvestmentsPart div{
    margin-top: 30px;
    font-size: 18px;
  }
  #ourInvestmentsPart button{
    margin-top: 40px;
  }
  #investmentLastElem i {
    margin-left: 15px
  }
  #aboutPart .container{
    width: 1170px;
  }
  #aboutWattz div{
    margin-top: 90px;
    margin-bottom: 100px;
    font-size: 18px;
  }
  #emailPart .container{
    width: 1170px
  }
  span.glyphicon.glyphicon-bell {
    margin-left: 150px;
    font-size: 50px
  }
  .emailReason{
    font-size: 25px
  }
  #emailPart form input {
    padding: 15px;
    font-size: 25px;
    margin-bottom: 40px
  }
  textarea.col-xs-12.col-md-12 {
    padding: 15px;
    padding-left: 6px;
    font-size: 25px;
  
  }
  #sendBtn {
    margin: 40px 500px;
    font-size: 40px;
    border-radius: 15px;
  }
}