<%- include("partials/navbar") %>
    <link rel="stylesheet" href="/css/404.css">
    <div id="Text404">
        <div class="container">
            <h1>404 - page not found</h1>
            <h3>Looks like you landed on the wrong page!</h3>
            <h3>Redirecting you to the homepage in
                <span>5...</span>
            </h3>
        </div>
    </div>

    <script src="/js/404.js"></script>
    <%- include("partials/footer") %>