<%- include("partials/navbar") %>
    <link rel="stylesheet" href="/css/about.css">

    <div id="whoAreWe">
        <h2>Who are we ?</h2>
    </div>
    <div>
        <div class="container">
            <div id="aboutWattz">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <h3>Wattz</h3>
                <div>Curabitur aliquet quam id dui posuere blandit. Donec rutrum congue leo eget malesuada. Curabitur arcu erat,
                    accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta.</div>
                <div>Curabitur aliquet quam id dui posuere blandit. Donec rutrum congue leo eget malesuada. Curabitur arcu erat,
                    accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta.</div>
                <div>Curabitur aliquet quam id dui posuere blandit. Sed porttitor lectus nibh.
                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet elit, eget tincidunt
                    nibh pulvinar a.</div>
            </div>
        </div>
    </div>
    <script src="/js/about.js"></script>
    <%- include("partials/footer") %>