<%- include("partials/navbar") %>
<link rel="stylesheet" href="/css/about.css">
    
    <div id="whoAreWe">
        <h2>Who are we ?</h2>
    </div>
<script src="/js/about.js"></script>
<%- include("partials/footer") %>