<%- include("partials/navbar") %>
    <link rel="stylesheet" href="/css/faq.css">

    <div class="container" id="faqPart">
        <h2>F.A.Q.</h2>
        <ul id="faqNavigation">
            <li>
                <a href="#notworking">Electricity not working</a>
            </li>
            <li>
                <a href="#noresponse">No response from customer support</a>
            </li>
            <li>
                <a href="#missedpayment">Missed payment</a>
            </li>
            <li>
                <a href="#loremipsum">Lorem Ipsum</a>
            </li>
            <li>
                <a href="#blahblah">Blah blah</a>
            </li>
            <li>
                <a href="#somethingsomething">Something something</a>
            </li>
        </ul>
        <div class="row">
            <h3>Electricity not working ?</h3>
            <hr>
            <h4>You can try:</h4>
            <ul>
                <li>Looking up on wikipedia about electricity</li>
                <li>Unplugging your toaster and plugging it back in</li>
                <li>Submiting a customer support ticket</li>
                <li>Giving up</li>
            </ul>
        </div>
        <div class="row">
            <h3>No response from customer support ?</h3>
            <hr>
            <ol>
                <li>Go on youtube</li>
                <li>Look up electrician tutorial</li>
                <li>Realize you're too incompetent to do it yourself</li>
                <li>Pay us money lol</li>
            </ol>
        </div>
        <div class="row">
            <h3>Missed your payment ?</h3>
            <hr>
            <div>Please give us money we're gonna be broke soon. We'll send you a weekly meme newsletter if you pay within 5 days
                🤔
            </div>
        </div>
        <div class="row">
            <h3>Lorem Ipsum ?</h3>
            <hr>
            <div>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero malesuada feugiat.</div>
            <div>Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</div>
        </div>
        <div class="row">
            <h3>Blah blah blah ? BLAH BLAH ?</h3>
            <hr>
            <div>Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum
                id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="row">
            <h3>Lorem ipsum ?</h3>
            <hr>
            <ul>
                <li>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</li>
                <li>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</li>
                <li>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</li>
            </ul>
        </div>
        <div class="row" id="notworking">
            <h3>Electricity not working ?</h3>
            <hr>
            <h4>You can try:</h4>
            <ul>
                <li>Looking up on wikipedia about electricity</li>
                <li>Unplugging your toaster and plugging it back in</li>
                <li>Submiting a customer support ticket</li>
                <li>Giving up</li>
            </ul>
        </div>
        <div class="row" id="noresponse">
            <h3>No response from customer support ?</h3>
            <hr>
            <ol>
                <li>Go on youtube</li>
                <li>Look up electrician tutorial</li>
                <li>Realize you're too incompetent to do it yourself</li>
                <li>Pay us money lol</li>
            </ol>
        </div>
        <div class="row" id="missedpayment">
            <h3>Missed your payment ?</h3>
            <hr>
            <div>Please give us money we're gonna be broke soon. We'll send you a weekly meme newsletter if you pay within 5 days
                🤔
            </div>
        </div>
        <div class="row" id="loremipsum">
            <h3>Lorem Ipsum ?</h3>
            <hr>
            <div>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero malesuada feugiat.</div>
            <div>Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</div>
        </div>
        <div class="row" id="blahblah">
            <h3>Blah blah blah ? BLAH BLAH ?</h3>
            <hr>
            <div>Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum
                id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="row">
            <h3>Lorem ipsum ?</h3>
            <hr>
            <ul>
                <li>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</li>
                <li>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</li>
                <li>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</li>
            </ul>
        </div>
        <div class="row">
            <h3>No response from customer support ?</h3>
            <hr>
            <ol>
                <li>Go on youtube</li>
                <li>Look up electrician tutorial</li>
                <li>Realize you're too incompetent to do it yourself</li>
                <li>Pay us money lol</li>
            </ol>
        </div>
        <div class="row">
            <h3>Missed your payment ?</h3>
            <hr>
            <div>Please give us money we're gonna be broke soon. We'll send you a weekly meme newsletter if you pay within 5 days
                🤔
            </div>
        </div>
        <div class="row">
            <h3>Lorem Ipsum ?</h3>
            <hr>
            <div>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero malesuada feugiat.</div>
            <div>Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</div>
        </div>
        <div class="row">
            <h3>Blah blah blah ? BLAH BLAH ?</h3>
            <hr>
            <div>Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum
                id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="row" id="somethingsomething">
            <h3>Lorem ipsum ?</h3>
            <hr>
            <ul>
                <li>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</li>
                <li>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</li>
                <li>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</li>
            </ul>
        </div>
    </div>

    <%- include("partials/footer") %>