<%- include("partials/navbar") %>
    <link rel="stylesheet" href="/css/news.css">

    <div class="container" id="articleContainer">

    </div>

    <script src="/js/news.js"></script>
    <%- include("partials/footer") %>