
    <%- include('partials/navbar') %>
    <link rel="stylesheet" href="/css/products.css">


    <div class="container" id="products">
        <h3>Our Products</h3>
        <table>
            <tr>
                <td></td>
                <td class="productName">FLASH</td>
                <td class="secondProduct productName">FLASH PRO</td>
                <td class="productName">LUMI A++</td>
            </tr>
            <tr>
                <td></td>
                <td class="productPrice"><span>$50 </span> $39.99/month</td>
                <td class="secondProduct productPrice">$79.99/month</td>
                <td class="productPrice">$120/month</td>
            </tr>
            <tr class="includedRow">
                <td class="productIncluded">Amazing electricity</td>
                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                <td class="secondProduct"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="includedRow">
                <td class="productIncluded">24/7 Technician Support</td>
                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                <td class="secondProduct"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="includedRow">
                <td class="productIncluded">Some useless thing</td>
                <td><i class="fa fa-times" aria-hidden="true"></i></td>
                <td class="secondProduct"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="includedRow">
                <td class="productIncluded">Even more useless thing</td>
                <td><i class="fa fa-times" aria-hidden="true"></i></td>
                <td class="secondProduct"><i class="fa fa-check" aria-hidden="true"></i></td>
                <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="includedRow">
                <td class="productIncluded">The most useless thing ever</td>
                <td><i class="fa fa-times" aria-hidden="true"></i></td>
                <td class="secondProduct"><i class="fa fa-times" aria-hidden="true"></i></td>
                <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="includedRow">
                <td></td>
                <td><a href="/buy" class="btn btn-success">BUY</a></td>
                <td><a href="/buy" class="btn btn-success">BUY</a></td>
                <td><a href="/buy" class="btn btn-success">BUY</a></td>
            </tr>
        </table>
    </div>

    <%- include('partials/footer') %>