
<%- include("partials/navbar") %>
<style>
    #resultsContainer{
        padding-bottom: 80px
    }
</style>

   <div class="container" id="resultsContainer">
       <h1>Search results: </h1>
       <% if(results.length > 0){ %>
        <% for(var i = 0; i < results.length; i++){ %>
            <hr>
            <div>
                <a target="_blank" href=<%= results[i][0] %>><h2>Page</h2></a>
                <h3>Search query: <%= results[i][1] %></h3>
            </div>
           <% } %>
      <% } else { %>
        <h1>Results: 0</h1>
     <% } %>
     </div>

<%- include("partials/footer") %>