<%- include("partials/navbar") %>
    <link rel="stylesheet" href="/css/success.css">

    <div class="container" id="messageContainer">
        <h2>Success!</h2>
        <h3>Please check your email within the next few days for a response</h3>
        <div id="envelopeDiv">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
    </div>
    <script src="/js/success.js"></script>
    <%- include("partials/footer") %>